@using APIntegro.Domain.Entities
@using APIntegro.WEB.Components
@inject APIntegro.WEB.Interfaces.IOrganizationService _organizationService
@inject APIntegro.WEB.Data.LoginSession Session
@inject NavigationManager Nav
@inject ISnackbar Snackbar
@inject IDialogService DialogService


<div class="row d-flex justify-content-end mb-5">
    <div class="col-xl-6 col-lg-8 col-12">
        <OrganizationToolBar Organizations="Organizations" />
    </div>
</div>

@if (!_loadCompleted)
{
    <MudCard>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px" />
        <MudCardContent>
            <MudSkeleton Height="42px;" />
            <MudSkeleton />
            <MudSkeleton />
        </MudCardContent>
        <MudCardActions>
            <MudSkeleton Height="40px" Class="ml-2" />
            <MudSkeleton Height="40px" Class="ml-3" />
        </MudCardActions>
    </MudCard>
}
else
{
    <MudDataGrid Items="@Organizations" Striped="true" Filterable="false" SortMode="@SortMode.None" Groupable="false" QuickFilter="@quickFilter">
        <ToolBarContent>
            <MudSpacer />
            <MudTextField @bind-Value="_searchQuery" Placeholder="Search" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" />
        </ToolBarContent>

        <Columns>
            <PropertyColumn CellClass="fw-bold" Property="x => x.accountname" Title="Organization Name" />
            <PropertyColumn CellClass="fw-bold" Property="x => x.phone" Title="Phone" />
            <PropertyColumn CellClass="fw-bold" Property="x => x.fax" Title="Fax" />
            <PropertyColumn CellClass="fw-bold" Property="x => x.email1" Title="Email 1" />
            <PropertyColumn CellClass="fw-bold" Property="x => x.email2" Title="Email 2" />
            <PropertyColumn CellClass="fw-bold" Property="x => x.employees" Title="Employees" />
            <PropertyColumn CellClass="fw-bold" Property="x => x.annual_revenue" Title="Annual Revenue" />

            <TemplateColumn Class="d-flex justify-content-center" CellClass="d-flex justify-content-center" Title="Action">
                <CellTemplate>
                    <MudStack Row>
                        <MudTooltip Color="Color.Error" Text="Delete" Placement="Placement.Left" Arrow="true">
                            <MudFab OnClick="@(async () => await Delete(context.Item))" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Small" />
                        </MudTooltip>

                        <MudTooltip Color="Color.Tertiary" Text="Info" Placement="Placement.Right" Arrow="true">
                            @{
                                string link = $"/Organization/Details/{context.Item.id}";
                            }
                            <MudLink Href="@link">
                                <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.Info" Size="Size.Small" />
                            </MudLink>
                        </MudTooltip>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>

        </Columns>

    </MudDataGrid>


    if (_noOrganizationFound)
    {
        <div class="row mt-4">
            <div class="d-flex justify-content-center">
                <MudChip Variant="MudBlazor.Variant.Text" Color="Color.Tertiary" Size="Size.Large">No Organizations Registered</MudChip>
            </div>
        </div>
    }
}



@code {
    private IEnumerable<Organization>? Organizations;
    private string _searchQuery = string.Empty;
    private bool _noOrganizationFound;
    private bool _loadCompleted = false;

    protected override async Task OnInitializedAsync()
    {
        Organizations = await LoadOrganizations();

        _noOrganizationFound = !Organizations.Any();

        _loadCompleted = true;
        await base.OnInitializedAsync();
    }
}